.wrapper  
  %h1 Edit your profile

  = form_for(@user, url: user_path) do |f|
    
    %div
      = f.label :location, 'Location'
      = f.text_field :location
    %div
      = f.label :film_types, 'Film types'
    %div
      = f.collection_check_boxes :film_ids, @films, :id, :format, {},{:multiple => true} 
    %div
      = f.label 'Your availability'
    %div
      = f.radio_button 'availability', 'true'
      = f.label :availability, 'available'
      = f.radio_button 'availability', 'false'
      = f.label :availability, 'unavailable'
    - if @photosets
      = f.fields_for :album do |album_f|
        %div
          = album_f.label :name
        %div
          = album_f.collection_select :flickr_id, @photosets, :id, :title
    
        - if @user.album.flickr_id != ""
          %p Which photos from your selected album do you want to display?
          .flex_container
            - @all_selected_set_photos.each do |photo|
              - info = flickr.photos.getInfo(photo_id: photo.id)
              .user_flickr_photos
                = image_tag FlickRaw.url_t(info)      
                = album_f.fields_for :photos, album_f.object.photos.new do |photos_f|
                  - photos_f.object.flickr_id = photo.id if @user.photo_flickr_ids.include?(photo.id)
                  %div
                    = photos_f.check_box :flickr_id, {}, photo.id


    %div
      = f.submit "Update"