%h1 Edit your profile

= form_for(@user, url: user_path) do |f|
  
  %div
    = f.label :location, 'Location'
    = f.text_field :location
  %div
    = f.label :film_types, 'Film types'
  %div
    = f.collection_check_boxes :film_ids, @films, :id, :format, {},{:multiple => true} 
  %div
    = f.label 'Your availability'
  %div
    = f.radio_button 'availability', 'true'
    = f.label :availability, 'available'
    = f.radio_button 'availability', 'false'
    = f.label :availability, 'unavailable'
  - if @photosets
    = f.fields_for :album do |album_f|
      %div
        = album_f.label :name
      %div
        = album_f.collection_select :flickr_id, @photosets, :id, :title
  
  - if @user.album
    %p Which photos from your selected album do you want to display?

    / TODO: Try saving all photo ids from the album in the database and then displaying the selection check boxes from the database rather than from flickr API directly
    / TODO: Use AJAX request - when album is selected to automatically display the photos of that album without reloading the page.

    - @all_selected_set_photos.first(5).each do |photo|
      %ul
        %li
          - info = flickr.photos.getInfo(photo_id: photo.id)
          = image_tag FlickRaw.url_t(info)      

          = f.fields_for Photo.new(flickr_id: photo.id) do |photos_f|
            %div
              = photos_f.check_box :id, {}, value: photo.id









  %div
    = f.submit "Update"