.wrapper  
  %h1 Edit your profile

  = form_for(@user, url: user_path) do |f|
    
    %div
      = f.label :location, 'Location'
      = f.text_field :location
    %br
    %div
      = f.label :film_types, 'Film types'
    %div
      = f.collection_check_boxes :film_ids, @films, :id, :format, {},{:multiple => true} 
    %br
    %div
      = f.label 'Your availability'
    %div
      = f.radio_button 'availability', 'true'
      = f.label :availability, 'available'
      = f.radio_button 'availability', 'false'
      = f.label :availability, 'unavailable'
    %br
    - if @photosets
      = f.fields_for :album do |album_f|
        %div
          = album_f.label :albums
        %div
          = album_f.collection_select :flickr_id, @photosets, :id, :title
    
        - if @user.album.flickr_id.present?
          %p Which photos from your selected album do you want to display?
          .flex_container
            = render partial: "album_photo", collection: @album_photos
            
          = form_tag users_path, remote: :true, id: :album_photos, method: :get do 
            = button_tag "Select photos", id: "select_photos_button"
    
    %div
      = f.submit "Update"