.wrapper
  %h1 Start a collaboration with someone

  - if current_user.availability == false
    %p Your availability is currently set to unavailable. You won't be able to start a collaboration if you don't change this.
    = link_to "Edit your availability now", edit_user_path(id: current_user.id)


  %p Which film format do you want to use for your collaboration?
  .matching_users
    = form_for(current_user, id: :match, url: new_collaboration_path, method: :get, id: "match_form" ) do |f|
      %div
        = f.label :film_types, 'Film format to shoot:'
        = f.collection_check_boxes :film_ids, @films, :id, :format, {},{:multiple => true, name: 'film_ids[]'} 
      %div
        = f.submit "Find partner!", id: "find_partner"
        %br
        %br

  #wait_overlay.hidden
    %p Please wait! Finding you a partner.
    .loader Loading!


  - if can? :manage, Collaboration
    %h3 For admin users
    %h2 List of all users

    - @users.each do |user|
      %ul
        %li
          = user.flickr_name