%h1 User profile page

= image_tag(@user.image)
%p Location: #{@user.location}


- if @films.any?
  - @films.each do |film|
    %ul
      %li
        = film.format
- else
  = "You haven't added any films!" 
  = link_to "Add some films", edit_user_path(@user.id)


- if @user.availability == true
  - availability = "available for film swaps"
- else
  - availability = "currently not available for film swaps"
%p Availability: #{availability}

- if @photosets
  %p Your photos sets
  - @photosets.each do |set|
    %ul
      %li
        = set.title  

- if @firstsetphotos
  %p Photos from your first Flickr set
  - @firstsetphotos.each do |photo|
    %ul
      %li
        - info = flickr.photos.getInfo(photo_id: photo.id)
        = image_tag FlickRaw.url_z(info)

- if can? :edit, @user
  = link_to "Edit your profile", edit_user_path(@user.id)
