%h1 User profile page

= image_tag(@user.image)
%p Location: #{@user.location}


- if @films.any?
  - @films.each do |film|
    %ul
      %li
        = film.format
- else
  = "You haven't added any films!" 
  = link_to "Add some films", edit_user_path(@user.id)


- if @user.availability == true
  - availability = "available for film swaps"
- else
  - availability = "currently not available for film swaps"
%p Availability: #{availability}

/ - if @photosets
/   %p These are your photosets. If you would like to show some of your Flickr photos on your profile, select a set and choose photos from it.

/   - @photosets.each do |set|
/     %ul
/       %li
/         = set.title  

- if @user.album
  %p Photos from your first Flickr set
  - @selected_set_photos.each do |photo|
    %ul
      %li
        - info = flickr.photos.getInfo(photo_id: photo.id)
        = image_tag FlickRaw.url(info)

- if can? :edit, @user
  = link_to "Edit your profile", edit_user_path(@user.id)

/ Pseudo code
/ display user's first 20 photosets
/ user can choose 1 set
/ set id is saved in album table
/ display first 20 photos of that 1 set
/ user can select 4 photos to display on their profile from that set
/ save 4 chosen photos' ids in photo table

