.wrapper
  %h1
    = @user.flickr_name

  - if current_user != @user
    - if @current_user_initiated_collaboration
      .match 
        %p
          You were matched with
          = @user.flickr_name
          - from_time = Time.now 
          - to_time = @current_user_initiated_collaboration.last.created_at
          = "#{distance_of_time_in_words(from_time, to_time)} ago."
        %p
          Contact them via Flickr messages now to arrange the details of your film swap.
        %p
          = link_to "Message #{@user.flickr_name} through Flickr", "https://www.flickr.com/mail/write/?to=#{@user.uid}", target: '_blank'

    - elsif @user_initiated_collaboration
      %div
        = @user.flickr_name
        was matched with you on
        - to_time = @user_initiated_collaboration.last.created_at
        = distance_of_time_in_words(from_time, to_time)
      %div
        They should have already contacted you by Flickr message. Otherwise, contact them now! 
        = link_to "Message #{@user.flickr_name} through Flickr", "https://www.flickr.com/mail/write/?to=#{@user.uid}", target: '_blank'
  
  = image_tag(@user.image)
  %p Location: #{@user.location}
  .hidden_fields
    #latitude
      = @user.latitude
    #longitude 
      = @user.longitude
  #map-canvas

  - if can? :edit, @user
    #edit
      #edit_button
        = link_to "Edit your profile", edit_user_path(@user.id)
        = link_to "Edit your email settings", new_user_user_path(@user.id)

  - if @films.any?
    = "#{@user.flickr_name} shoots"
    - @films.each do |film|
      %ul
        %li
          = film.format
  - else
    = "You haven't added any films!" 
    = link_to "Add some films", edit_user_path(@user.id)


  - if @user.availability == true
    - availability = "available for film swaps"
  - else
    - availability = "currently not available for film swaps"
  %p Availability: #{availability}

  .flex_container
  - if @user.album.flickr_id.present?
    - if @user.album.photos.present?
      %h3 Photos from this user
      - @users_selected_photos.each do |photo|
        - info = flickr.photos.getInfo(photo_id: photo.flickr_id)
        = image_tag(FlickRaw.url_n(info), class: "user_flickr_photos")
    - else
      %h3 You've selected an album. Now pick some photos to display on your profile!
      #edit_button 
        = link_to "Sure!", edit_user_path(@user.id)
  - elsif @user.album.flickr_id.nil?
    %p You can pimp your profile by displaying some of your Flickr photos! 
    = link_to "Yeah, let me add some pics!", edit_user_path(@user.id)


