.wrapper
  %h1 How it works
  %intro Double exposures are a fun way to collaborate on a photography project. One person shoots a roll of film, winds it back, sends it to another person who shoots the same roll of film. Results are often amazing and always surprising.

  .about
    %h3 Step 1:
    %p Sign up to this website and find a partner!

  .about
    %h3 Step 2:
    %p Shoot a roll of film. Wind it back. Send it to your partner.

  .about
    %h3 Step 3:
    %p Your partner will shoot over your exposures to create doubles. 
    
  .about
    %h3 Step 4:
    %p Your partner develops the roll of film and posts it to our Flickr group so you can see the outcome.

  %h2 The most recent additions to the Film swapsters group

  - @pool_photos.first(10).each do |photo|
    - info = flickr.photos.getInfo(photo_id: photo.id)
    .pool_photos
      = image_tag FlickRaw.url_m(info) 
      .pool_photo_owner     
        = link_to "by #{photo.ownername}", "https://www.flickr.com/photos/#{photo.owner}", target: "blank"
  %button Click to see more

  / - @pool_photos.first(10).each do |photo|
  /   - info = flickr.photos.getInfo(photo_id: photo.id)
  /   %div
  /     = image_tag FlickRaw.url_m(info)      
  /     = link_to "by #{photo.ownername}", "https://www.flickr.com/photos/#{photo.owner}", target: "blank"