!!! 5
%html
  %head
    %title Film swap app
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:800,400", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Rock+Salt", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "https://maps.googleapis.com/maps/api/js", :type => "text/javascript"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #top
      - if current_user
        #login
          YOU
          #account
            = link_to current_user.flickr_name, user_path(current_user.id)
            = link_to image_tag(current_user.image), user_path(current_user.id)
            = link_to "Log out", destroy_user_session_path, method: :delete
      - else
        #login
          = link_to "Sign in with Flickr", user_omniauth_authorize_path(:flickr)
      %nav
        %ul
          %li
            #logo 
              = link_to "FILM SWAPSTERS", root_path
            = link_to "ABOUT", about_path
            - if current_user
              = link_to "COLLABORATE", users_path
              = link_to "MY COLLABORATIONS", list_path
              = link_to "TIPS", tips_path
              - if can? :read, Collaboration
                = link_to "LIST OF COLLABORATIONS", collaborations_path
    
    %p.notice= notice
    %p.alert= alert

    = yield

    %footer
      %p This website was created by Rabea Gleissner.
    - if !current_user
      = link_to "Admin login", new_user_session_path
