!!! 5
%html
  %head
    %title Film swap app
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "    http://fonts.googleapis.com/css?family=Rock+Salt", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDRK3fbpJnhW70K5e2YVAetvohxOyJtysE", :type => "text/javascript"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      .login
        - if current_user
          Logged in as
          = link_to current_user.flickr_name, user_path(current_user.id)
          = link_to image_tag(current_user.image), user_path(current_user.id)
          | 
          = link_to "Log out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign in with Flickr", user_omniauth_authorize_path(:flickr)
      %nav
        %ul
          %li 
            = link_to "HOME", root_path
            = link_to "HOW IT WORKS", about_path
            - if current_user
              = link_to "GALLERY", gallery_path
              = link_to "FIND A PARTNER", users_path
              = link_to "TIPS FOR AWESOME DOUBLES", tips_path
              - if can? :read, Collaboration
                = link_to "LIST OF COLLABORATIONS", collaborations_path
    
    %p.notice= notice
    %p.alert= alert
    
    = yield

    %footer
      %p This website was created by me Rabea Gleissner, during my Web Development bootcamp at General Assembly.
    - if !current_user
      = link_to "Admin login", new_user_session_path
