!!! 5
%html
  %head
    %title Film swap app
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyD_vMG1zxUknrcc2TKE8NA7TCFeJj73d4o", :type => "text/javascript"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .login
      - if current_user
        Logged in as
        = link_to current_user.flickr_name, user_path(current_user.id)
        = link_to image_tag(current_user.image), user_path(current_user.id)
        | 
        = link_to "Log out", destroy_user_session_path, method: :delete
      - else
        = link_to "Sign in with Flickr", user_omniauth_authorize_path(:flickr)
    %p.notice= notice
    %p.alert= alert
    %nav
      %ul
        %li 
          = link_to "HOME", root_path
          = link_to "HOW IT WORKS", about_path
          - if current_user
            = link_to "GALLERY", gallery_path
            = link_to "FIND A PARTNER", users_path
            = link_to "TIPS FOR AWESOME DOUBLES", tips_path
            - if can? :read, Collaboration
              = link_to "LIST OF COLLABORATIONS", collaborations_path
    = yield

    %footer
      - if !current_user
        = link_to "Admin login", new_user_session_path
